/*****************************************************/
/*********** Definiendo estilo a los enlace **********/
/*****************************************************/

a{
    color:  rgb(239, 181, 10);
    text-decoration: none;
    
    }
    a:link{
        color: rgb(239, 181, 10);
        text-decoration: none;
    }
    
    a:hover{
        color:rgb(239, 181, 10);
        text-decoration: underline;
    
    }
    
    a:active {
        color:red;
        }
    
        a:visited {
            color:rgb(245, 203, 77);
    
        }

/***********************************************
/************DEEFINIENDO CLASES ****************
/**********************************************/

.imagenes{
    align-items:center ;
   /* align-content: center; */
   /* height: 100px; */
   border-radius: 14px;
   padding: 2px;
   background-color: darkslategrey;

}
.contenedorHome{
    align-content: center;
    align-items: center;
    width: "60%";

}


.contenedor_footer{
    display: flex;
    flex-flow: wrap;
    justify-content:space-evenly; 
    align-items: center;
    align-content: center;
    background-color: darkslategray;
    font-size:medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    color: white;
    width: auto;
    height: auto;
         
}
.menu_footer{

text-align: center;
}

.textoDisponible{
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color : darkgreen;
}


.textoNotDisponible{
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color : rgb(255, 0, 0);
}


.logo{
    /* align-items:center ; */
   /* align-content: center; */
   /* height: 300px; */
   border-radius: 14px;
   padding: 4px;

}

.textoTotal{
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color : rgb(255, 0, 0);

}


.mensaje{
    display:none;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size:medium;
    font-weight: bold;
    color: rgb(245, 52, 52);
} 

.logoUser{
        background-color: #717070 ;
        width: auto;
        border-radius: 6px;
        /* padding: 2px; */
        align-content:flex-start;
        
}

.atributosUserName{
        background-color: rgb(28, 28, 42);
        color: white;
        width: 28%;

    }


    .tituloDetallesPago{
        background-color: rgb(28, 28, 42);
        color: white;
        width: auto;
        height: 30px;

    }